html, body {
  height: 100%;
}

body {
  display: none;
  margin: 0;
  font-family: 'Questa Sans';
  background-color: #f9f0de;
  color: #325577;
}

a {
  text-decoration: none;
  color: white;
}

canvas {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 13px;
  box-sizing: border-box;
}

.title {
  font-family: 'Questa';
  font-size: 22px;
  text-align: center;
}

#graphIcon {
  position: relative;
  top: 6px;
  left: 415px;
  width: 25px;
  cursor: pointer;
}

#graphIcon:active {
  opacity: 0.4;
}

.canvasContainer {
  flex: 1 1 auto;
  width: 100%;
}

#wineRow {
  padding-bottom: 8px;
}

#wineRow, #foodRow {
  width: 100%;
  text-align: center;
}

.wineRowItem {
  display: inline-block;
  position: relative;
  margin-right: 50px;
  opacity: 1;
}

.wineRowItem, .foodRowItem {
  transition: opacity 0.5s ease;
}

.wineRowItem.faded, .foodRowItem.faded {
  opacity: 0.2;
}

.wineRowItem:last-child, .foodRowItem:last-child {
  margin-right: 0;
}

.wineIcon {
  width: 85%;
}

.wineLabel {
  font-size: 14px;
  margin-top: 10px;
}

.wineVarietals {
  position: absolute;
  bottom: 60px;
  width: 100%;
  font-size: 10px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.wineVarietals > li {
  line-height: 1;
  margin-bottom: 7px;
  list-style-type: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease;
}

.wineVarietals > li.is-selected {
  color: white;
}

.wineVarietals > li:hover {
  color: white;
}

#foodRow {
  margin-top: 25px;
}

.foodRowItem {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  cursor: pointer;
}

.foodIcon {
  max-width: 75px;
}

.foodLabel {
  font-size: 12px;
  margin-bottom: 12px;
}


/* MODALS */

.modal {
  display: none;
  position: absolute;
  bottom: 25px;
  width: 480px;
  min-height: 195px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
  background-color: #5C97BF;
  border-radius: 4px;
  line-height: 1;
  height: 100%;
  box-sizing: border-box;
}

#modalHeading {
  font-family: 'Questa';
  font-size: 26px;
  height: 26px;
  padding: 30px;
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242e35;
  opacity: 0.88;
}

.selectedItemCopy {
  display: none;
  position: absolute;
  text-align: center;
  color: white;
}


/* RESULTS */

#modalResults {
  flex: 1 1 auto;
  padding: 0 30px;
  line-height: 1;
  overflow-y: auto;
}

.modalResult {
  display: flex;
  height: 85px;
  margin-bottom: 28px;
}

.resultImage {
  flex: 0 0 85px;
  height: 100%;
  background-color: #76aed3;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;
}

.resultDetail {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
}

.resultDetail > a {
  display: block;
  padding-top: 1px;
  font-size: 19px;
  cursor: pointer;
  color: inherit;
}

.resultInfo {
  margin: 7px 0;
  font-size: 17px;
}

.resultInfo, .resultIngredients {
  opacity: 0.5;
}

#offlineModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: coral;
  padding: 30px;
}