html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Questa Sans';
  background-color: #f9f0de;
  color: #325577;
}

.container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 2%;
  box-sizing: border-box;
}

.title {
  font-family: 'Questa';
  font-size: 22px;
  text-align: center;
}

.canvasContainer {
  width: 100%;
  height: 18%;
}

/*.wineRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}*/

#wineRow, #foodRow {
  width: 100%;
  text-align: center;
}

.wineRowItem {
  display: inline-block;
  margin-right: 50px;
}

.wineRowItem:last-child, .foodRowItem:last-child {
  margin-right: 0;
}

.wineIcon {
  width: 85%;
}

.wineLabel {
  font-size: 14px;
  margin-top: 10px;
}

#foodRow {
  margin-top: 35px;
}

.foodRowItem {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  cursor: pointer;
}

.foodIcon {
  max-width: 75px;
}

.foodLabel {
  font-size: 12px;
  margin-bottom: 12px;
}