html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Questa Sans';
  background-color: #f9f0de;
  color: #325577;
}

.container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 13px;
  box-sizing: border-box;
}

.title {
  font-family: 'Questa';
  font-size: 22px;
  text-align: center;
}

.canvasContainer {
  width: 100%;
  height: 18%;
}

/*.wineRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}*/

#wineRow, #foodRow {
  width: 100%;
  text-align: center;
}

.wineRowItem {
  display: inline-block;
  margin-right: 50px;
}

.wineRowItem:last-child, .foodRowItem:last-child {
  margin-right: 0;
}

.wineIcon {
  width: 85%;
}

.wineLabel {
  font-size: 14px;
  margin-top: 10px;
}

#foodRow {
  margin-top: 35px;
}

.foodRowItem {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  cursor: pointer;
}

.foodIcon {
  max-width: 75px;
}

.foodLabel {
  font-size: 12px;
  margin-bottom: 12px;
}


/* MODALS */

#recipeModal {
  display: none;
  position: absolute;
  top: 78px;
  left: 262px;
  bottom: 60px;
  width: 40%;
  min-width: 400px;
  max-width: 600px;
  padding: 30px;
  background-color: #5C97BF;
  box-sizing: border-box;
  border-radius: 4px;
}

#recipeHeading {
  font-family: 'Questa';
  font-size: 26px;
  line-height: 1;
  color: white;
  opacity: 0.8;
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242e35;
  opacity: 0.88;
}

.selectedItemCopy {
  display: none;
  position: absolute;
  text-align: center;
  color: white;
}
